h1 {
    color: #549CBF;
    text-align: center;

}




#pageSelect {
    margin: 0 0 0 75%;
    padding:0 0 0 0;
    display:block;
    
}
#pageSelectList {
    list-style-type: none;
    
}
#pageSelectItem {
    display:inline-block;
    margin: 0 5% 0 5%;
}

a:active {
    background-color : blue;
}




figure {
    position: fixed;
    z-index: 2;

}

#playIcon:hover {
    opacity: 1;
}

#playIcon {
    opacity: 0.5;
    transition: opacity 2s;
}



button {
    border-radius:30px;
    background-color: #806E58;
    border-color: #403C37;
    display:block;
    margin: 0 auto;


}
.weatherResponse {
    
    word-wrap:break-word;
}




body {
background-image: url('./coffee-shop-1-1520538.jpg');
background-size:cover;

}




/* polygon {
    fill: rgb(0, 255, 149);
}
circle {
    stroke:aqua;
    stroke-width: 0.1rem;
} */



.articleList {
    display: block;
    margin: 5% auto 5%; 
    height: 5rem;
    width:100%;
    text-align: center;
    /* border: 5px ridge black; */

}
td { 
    padding-left: 5px;
    padding-right: 5px;
}


@keyframes popIn {
    from {opacity: 0.5 }
    to {opacity: 1}
}
.infoView {
    display:inline-flex;
    padding:0.5em;
    margin: 0 1rem auto;
    font-weight: 100;
    font-size: large;
    font-family: "Playwrite AU SA", cursive;
    color: rgb(0, 255, 149);
    
}

table {
    border: 2px ridge #403C37;
    border-radius: 5px;
    table-layout: fixed;
    opacity: 0.5;
    animation: 3s ease-in 1s 2 reverse both paused popIn;
    z-index: 3;
    background-color:#52626A;
    border-radius:5px;
}

div {
    display:inline;
}
.nerdWatch {
    display:block;
    text-align: center;

}
.windIndex,
.pressureWatch,
.heatIndex {

    display: inline-block;
    margin: 0 0 0 10%;
    height:10%;
    width: 10%;
    border: 2px ridge #403C37;
    border-radius: 5px;
    background-color: #52626A;
}

span {
    font-size: large;
    font-family: "Playwrite AU SA", cursive;
    color: rgb(0, 255, 149);
    font-weight: 100;
}



html {
    width:100%;
}

